body{
  height: 100%;
}
.App{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-between;
}
.App-header{
  text-align: center;
}
.App-container{
  display: flex;
  flex: 1;
}
.App-navigator{
}